<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>?</title>

</head>
<body>
<div class="page-header">
    <h1 th:text="${findMovie.getTitle()}">Example page header <small th:text="">Subtext for header</small></h1>
</div>
<div class="container-fluid">
    <div class="col-md-2">
        <img th:src="${findMovie.getImg_link()}">
    </div>
    <div class="col-md-10">
        감독 : <span th:text="${findMovie.getDirector()}" ></span><br>
        배우 : <span th:text="${findMovie.getActor()}"></span><br>
        줄거리<br><p th:text="${findMovie.getOutline()}"></p>
        장르 : <td th:each="genre : ${findMovie.getGenreList()}">
        <span th:text="${genre.genre.genre}"></span>
        </td>
    </div>
    <div class="col-md-12">
        단어 빈도 확인
        <td th:each="ppap : ${dic}">
            <span th:text="${ppap.key}"></span> : <span th:text="${ppap.value}"></span> /
        </td>
    </div>
</div>
</body>
</html>