<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">

    <script th:src="@{/js/jquery.star-rating-svg.js}"></script>
    <link rel="stylesheet" th:href="@{/css/star-rating-svg.css}">

    <!--<script src="js/jquery.star-rating-svg.js"></script>
    <link rel="stylesheet" href="/css/star-rating-svg.css">-->
    <title>Title</title>
    <style>

    </style>
    <script>
        let sequence = 0;
        let score;
        let html = '';
        let click_genre_id;

        function testajax() {
            let sendData = {"sequence": sequence, "genre_id": click_genre_id}
            $.ajax({
                url: '/movies/recommend',
                method: 'POST',
                data: sendData,
                success: function (resp) {
                    sequence += 20;
                    $.each(resp, function (index, item) {
                        html += '<div class="col-xs-4 col-sm-3 col-md-3 col-lg-2" style="height: 500px">';
                        html += '<div class="thumbnail">';
                        html += '<a href="/movies/view/' + item["id"] + '">';
                        html += '<img src="' + item["img_link"] + '" style="max-width: 100%; height: auto" class="movie_img">';
                        // style="height: auto; max-width: 100%"
                        html += '</a><div class="caption"';
                        html += '<p>' + item["title"] + '</p>';
                        html += '<div class="star1" id ="' + item["id"] + '"></div></div></div></div>';
                    })
                    document.getElementById('123').innerHTML = html;
                    starClick();
                }
            })
        }

        function starClick() {
            $('.star1').starRating({
                totalStars: 5,
                starSize: 20,
                emptyColor: 'lightgray',
                hoverColor: 'salmon',
                activeColor: 'cornflowerblue',
                initialRating: 0,
                strokeWidth: 0,
                useGradient: false,
                callback: function (currentRating) {
                    score = currentRating;
                }
            });
        }

        $(function () {
            testajax();
            starClick();
            $(document).on("click", ".star1", function () {
                let click_movie_id = $(this).attr('id');
                let sendData = {"movie_id": click_movie_id, "input": score};
                $.ajax({
                    url: '/movies/is_ajaxx',
                    method: 'GET',
                    data: sendData,
                    success: function (resp) {

                    }
                })
                alert("감사합니다");
            })

            $(document).on("click", ".aaa", function () {
                sequence = 0;
                html = '';
                click_genre_id = $(this).attr('id');
                testajax();
            })


            $(document).scroll(function () {
                var maxHeight = $(document).height();
                var currentScroll = $(window).scrollTop() + $(window).height();

                if (maxHeight <= currentScroll + 1) {
                    testajax();
                }
            })
        })
    </script>
</head>
<body>
<thead>
<tr>
    <th>#</th>
    <th>영화</th>
    <a href="/">홈으로</a><br>

</tr>
</br>
</thead>
<table id="111">
</table>
<div class="container-fluid" id="123">
</div>
<div id = "124"></div>
</body>
</html>